@use "../utilities" as *;
.loader {
  display: block;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  height: 1.535rem;
  border-radius: 5px;
  background-color: $clr-loader-primary;

  animation: skeleton-loading 1s linear infinite alternate;

  &.fade-out {
    animation: fade-in reverse 0.5s 1 linear;
  }

  @include mq("lg") {
    margin: 0;
    width: 100%;
  }
}
