@use "../utilities" as *;
@use "../components/loader";
.tracker {
  min-width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    width: 100%;
    flex-basis: 300px;
    max-height: 300px;
    z-index: 1000;
    flex-shrink: 0;
    background-image: url("../assets/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  &__header-container {
    position: relative;
    margin: 0 auto;
    max-width: 1110px;
    width: 87%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-top: 1em;
    margin-bottom: 1.15em;
    font-size: 1.625rem;
    letter-spacing: -0.01em;
    font-weight: 400;
    color: $clr-title;
    @include mq("md") {
      font-size: 2rem;
      margin-bottom: 1em;
    }
  }
  &__search {
    position: relative;
    width: 100%;
    max-width: 555px;
    &.submited {
      animation: 0.15s ease submited;
    }

    &-error-msg {
      display: none;
      position: absolute;
      bottom: -22px;
      left: 1em;
      color: $clr-error;
      .error & {
        display: block;
      }
    }
  }

  &__search-input {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 15px;
    font-size: 1.125rem;
    .error & {
      box-shadow: 0 0 3px 3px $clr-error;
    }
  }
  &__search-btn {
    position: absolute;
    top: 0;
    right: 0;

    width: 58px;
    height: 58px;
    border: none;
    background-color: #000;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    cursor: pointer;
    transition: background-color 0.2s;
    &:hover,
    &:focus {
      background-color: $clr-primary;
    }
  }
  &__results {
    margin-top: 24px;
    padding: 24px;
    max-height: 400px;
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    transition: max-height 0.3s ease-in-out;
    @include mq("lg") {
      margin-top: 47px;
      padding: 37px;
      display: flex;
      max-height: 200px;
    }
    &.isColapsed {
      max-height: 70px;
    }
  }

  &__results-btn {
    position: absolute;
    top: 38px;
    right: 20px;
    z-index: 1;
    padding: 5px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;

    & path {
      stroke: black;
      transition: stroke 0.2s;
    }
    &:hover {
      path {
        stroke: $clr-secondary;
      }
    }
    & svg {
      transform: rotate(-90deg);
      width: 20px;
      transition: transform 0.3s;
      .isColapsed & {
        transform: rotate(90deg);
      }
    }
  }

  &__result {
    opacity: 1;
    transition: opacity 0.3s 0.1s ease-in-out;

    @include mq("lg") {
      text-align: left;
      flex-grow: 1;
      flex-basis: 25%;
    }
    .isColapsed & {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }
  }

  &__result:not(:first-of-type) {
    margin-top: 24px;
    @include mq("lg") {
      margin-top: unset;
      padding-left: 32px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.15;
        background-color: $clr-primary;
        height: 100%;
        width: 1px;
      }
    }
  }
  &__result-title {
    margin-bottom: 0.58em;
    color: $clr-secondary;
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 0.146em;
    @include mq("lg") {
      font-size: 0.75rem;
    }
  }
  &__result-text {
    color: $clr-primary;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: -0.009em;
    &.fade-in {
      animation: fade-in 0.5s linear 1 forwards;
    }

    @include mq("lg") {
      font-size: 1.625rem;
    }
  }
  &__map {
    min-height: 200px;
    flex-grow: 1;
  }
}
